body{
    background-color: rgb(229, 160, 82);
}
pre{
    font-size : 1em; 
   
}
.links{
    border: 2px white;
    float: left;
    padding: 10px;
    font-size : 1.8em;
    color : black;
}.links a { 
    color: inherit; 

}
.links:hover{
    font-size : 2em;
}
.responsive-text {
    font-size: calc(2px + .5vw);
}

